.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.header{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #24262bb9;
}