.allProducts{
    padding: 30px ;
    text-decoration: none;
    color: aliceblue;
    transition: all .3s;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.allProducts:hover{
    text-decoration: none;
    transition: all .3s;
    color: #DC4981;
}


.socialMedia{
    margin-right: 40px;
    border-radius: 8px;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    color: rgb(223, 223, 223);
    transition: all .7s;
     background-color:#DC4981  ;
     font-family: 'Bebas Neue', cursive;
     font-size: 18px;
}

.socialMedia:hover{
    cursor: pointer;
    background-color: #882d4e;
    transition: all .7s;
}